In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_csv("/content/College.csv")
data

    Private   Apps  Accept  Enroll  ...  S.F.Ratio  perc.alumni  Expend  Grad.Rate
0       Yes   1660    1232     721  ...       18.1           12    7041         60
1       Yes   2186    1924     512  ...       12.2           16   10527         56
2       Yes   1428    1097     336  ...       12.9           30    8735         54
3       Yes    417     349     137  ...        7.7           37   19016         59
4       Yes    193     146      55  ...       11.9            2   10922         15
..      ...    ...     ...     ...  ...        ...          ...     ...        ...
772      No   2197    1515     543  ...       21.0           14    4469         40
773     Yes   1959    1805     695  ...       13.3           31    9189         83
774     Yes   2097    1915     695  ...       14.4           20    8323         49
775     Yes  10705    2453    1317  ...        5.8           49   40386         99
776     Yes   2989    1855     691  ...       18.1           28    4509         99

[777 rows x 18 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
data["Private"] = labelencoder.fit_transform(data["Private"])
data.head()

   Private  Apps  Accept  Enroll  ...  S.F.Ratio  perc.alumni  Expend  Grad.Rate
0        1  1660    1232     721  ...       18.1           12    7041         60
1        1  2186    1924     512  ...       12.2           16   10527         56
2        1  1428    1097     336  ...       12.9           30    8735         54
3        1   417     349     137  ...        7.7           37   19016         59
4        1   193     146      55  ...       11.9            2   10922         15

[5 rows x 18 columns]

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, ShuffleSplit, GridSearchCV
X = data.iloc[:, 1:]
Y = data["Private"]
train_x, test_x, train_y, test_y = train_test_split(X, Y, test_size=0.20, random_state=10)

In [ ]:
from sklearn import svm
from sklearn import metrics
model_svm = svm.LinearSVC()
model_svm.fit(train_x, train_y)
predicted_values = model_svm.predict(test_x)
print("\nAccuracy Score\n")
print(metrics.accuracy_score(predicted_values, test_y))

Accuracy Score

0.9230769230769231

/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [ ]:
scaler_df = StandardScaler().fit_transform(X)
scaler_df = pd.DataFrame(X, columns=X.columns)
X = scaler_df
Y = data["Private"]
train_x, test_x, train_y, test_y = train_test_split(X, Y, test_size=0.30, random_state=10)
model_svm = svm.LinearSVC()
model_svm.fit(train_x, train_y)
predicted_values = model_svm.predict(test_x)
metrics.accuracy_score(predicted_values, test_y)

/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

0.7307692307692307

In [ ]:
parameter_candidates = [
    {'C': [1, 10, 100, 1000], 'kernel': ['poly']},
    {'C': [1, 10, 100, 1000], 'kernel': ['linear']},
    {'C': [1, 10, 100, 1000], 'gamma': [0.001, 0.0001], 'kernel': ['rbf']},]
# Create a classifier object with the classifier and parameter candidates
cv = ShuffleSplit()
clf = GridSearchCV(estimator=svm.SVC(max_iter=1000),
                   param_grid=parameter_candidates, n_jobs=-1, cv=cv)
# Train the classifier on data1's feature and target data
clf.fit(train_x, train_y)
# View the accuracy score
print('Best score for data1:', clf.best_score_)
# View the best parameters for the model found using grid search
print('Best C:', clf.best_estimator_.C)
print('Best Kernel:', clf.best_estimator_.kernel)
print('Best Gamma:', clf.best_estimator_.gamma)

Best score for data1: 0.9290909090909091
Best C: 10
Best Kernel: poly
Best Gamma: scale